.custom-audio-Player{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 1rem;
    background-image: linear-gradient( 109.6deg,  rgba(48,207,208,1) 11.2%, rgba(51,8,103,1) 92.5% );
}

.display-image-player{
    height: 50px;
    width: 50px;
    object-fit: cover;
}
.duration-range{
    filter: hue-rotate(25deg);
    width: 100%;
}
.duration-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: 50%;
    padding: 0;
}
.volume-range{
    filter: hue-rotate(25deg);
    width: 10%;
}
.audio-btn{
    cursor: pointer;
}
