.custom-audio-Player{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #40394A;
}

.display-image-player{
    height: 50px;
    width: 50px;
    object-fit: cover;
}
.duration-range{
    filter: hue-rotate(25deg);
    width: 100%;
}
.duration-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: 50%;
    padding: 0;
}
.volume-range{
    filter: hue-rotate(20deg);
    width: 10%;
}
.audio-btn{
    cursor: pointer;
}
