.custom-input{
    background: var(--field);
    color: var(--textField);
    border: 2px solid var(--greyScale);
    border-radius: 0.25rem;
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
    font-weight: 500;
    margin-bottom: 2rem;
}
.custom-input :focus{
    outline: none;
    border-color: var(--greyScale1);
    
}
.custom-input ::placeholder{
    color: var(--greyScale2);
    border-style: dashed;
}
.label-input{
    color: var(--greyScale2);
}
.active{
    border-color: var(--white);
}
