@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ysabeau+Infant:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Ysabeau Infant', sans-serif; */
:root{
    --theme: #30363d;
    --blue: #18b2de;
    --white: #ACBCFF;
    --grey: #F6FFA6;
    --purple-grey: #252B48;
}

body{
    margin: 0;
    font-family: 'Ysabeau Infant', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: var(--theme);
    /* background-image: linear-gradient(25deg, #00073a, #562b52, #a1516b, #f17c83); */
    color: var(--white);
}

/* .bggradient{
    background-image: linear-gradient(25deg, #24c3ce, #89b3b8, #b7a0a3, #da8b8e)
} */

input{
    font-family: 'Ysabeau Infant', sans-serif;
}

.input_Wrapper{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 2rem;
}
.input_Wrapper>h1{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
.custom-btn{
    text-align: center;
    border: 2px solid var(--white);
    padding: 1rem;
    border-radius: 0.35rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem;
    width: 100%;
}
.custom-btn:hover{
    background-color: var(--white);
    color: var(--theme);
    transition: all 0.5s;
}
.wrapper{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 2rem;
}
.podcasts_Flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.podcastDetail_Wrapper{
    width: 100%;
    text-align: left;
}
.podcast_title_heading{
    text-align: left;
    width: 100%;
}
.banner_Wrapper{
    background: linear-gradient(
        177.7deg,
        rgba(58,129,191,0.3) 1.63%,
        rgba(65,48,90,0.009) 148.18%
    );
    border-radius: 1rem;
    padding: 0.5rem;
    height: 300px !important;
}
.banner_Wrapper img{
    width: 100%;
    height: 300px !important;
    object-fit: cover;
    border-radius: 0.8rem;
    
}
.podcast_desc{
    color: var(--purple-grey);
}

.avatar{
    width: 10%;
    border-radius: 50%;
    opacity: 0.8;
}
.avatar:hover{
    transform: scale(1.2);
    transition: all 400ms;
    cursor: pointer;
    opacity: 1;
}
